# Historical Price Data
DBUpdate/TWSE_HistoricalPrice.txt
# Historical Fundmental Datas
FundamentalCrawler/balace_sheet/
*.txt
*.png
*.xlsx
*.json
*.jpg
*.csv

FigOutput/
.ipynb_checkpoints/
__pycache__/
